
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>@base.Context.User.Identity.Name</h3>
@foreach (var cliam in base.Context.User.Identities.First().Claims)
{
    <h3>**********************************************</h3>
    <h4> @cliam.Type:@cliam.Value </h4>
}


