
@{
    ViewData["Title"] = "IndexToken";
}

<h1>IndexToken</h1>
<h3 id="token"></h3>

<script type="text/javascript">
    var content = "";
    window.onload = function () {
        var url = window.location.href;

        var array = url.split("#");
        if (array.length > 1) {
            content = array[1];
        }
        var search = window.location.search;
        if (search) {
            search = search.substr(1);
            var paras = search.split("&");
            paras.forEach(element => {
                content += element;
                content += ";"
            });//序列化处理
        }
        document.getElementById("token").innerHTML = content;
    }
</script>